.Raki-CT-Nuptse-EVO-Desktop {
    width: 1440px;
    height: 6343px;
    flex-grow: 0;
    background-color: #601400;
}
.HeroCenter {
    width: 1440px;
    height: 1136px;
    margin: 168px 0 0;
    padding: 0 80px;
}