.Raki-CT-Nuptse-EVO-Desktop {
    // width: 1440px;
    // height: 6343px;
    flex-grow: 0;
    background-color: #601400;
}
.HeroCenter {
    // width: 1440px;
    // height: 1136px;
    margin: 168px 0 0;
    padding: 0 80px;
}
.HeroTxtWraperCenter {
    // width: 1280px;
    // height: 336px;
    padding: 80px 192px 28px;
}
// background: url('@{baseDir}images/icon_sprite.png');
